*{
    font-family: 'Roboto'sans-serif;
}

#side-nav-container {
    -ms-text-size-adjust: auto;
    width: 304px;
    min-width: 304px;
    max-width: 304px;
    font-family: 'Roboto';
    background-color: rgb(38, 162, 211);
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
}

#quicklink-title {
    display:flex;
    justify-content: space-between;
    font-family: 'Roboto ';
}

.layout-container {
    display: flex;
    font-family: 'Roboto';
}

.side-nav {
    font-family: 'Roboto'
}

.ui-toolbar {
    background-color: rgb(227, 253, 227) !important;
    color: rgb(11, 11, 51);
    font-family: 'Roboto';
}